<h1>Add a new album</h1>

<form action="/albums" method="post">
  <label for="album_name">Album name</label>
  <input id="n" name="album_name" class="form-control" type="text" required>

  <label for="album_artist">Artist</label>
  <div class="form-check form-check-inline">
  <% @artists.each do |artist| %>
  <input name="album_artist" type="radio" value="<%= artist.id %>">
  <label> <%= artist.name() %> </label>
  <% end %>
  </div
  <label for="album_year">Year</label>
  <input name="album_year" class="form-control" type="text" required>


  <label for="album_genre">Genre</label>
  <select name="album_genre" class="form-control">
    <option value="Rock">Rock</option>
    <option value="Pop">Pop</option>
    <option value="Noise">Noise</option>
    <option value="Metal">Metal</option>
    <option value="Melodic">Melodic</option>
    <option value="R&B">R&B</option>
    <option value="Electronic">Electronic</option>
    <option value="Punk">Punk</option>
  </select>
  <label for="album_cost">Price</label>
  <input name="album_cost" class="form-control" type="number" step="0.01">
  <button type="submit" class="btn">Go!</button>
</form>
